body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #296679;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

hr {
  border: 1px solid #ccc;
  margin: 10px 0;
}

form {
  max-width: 350px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Page Styles */
.App {
  text-align: center;
  margin-top: 50px;
}

/* Additional Styles for Each Form */
/* Home Form Styles */
#HomeForm {
  background-color: #2a4f80;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* FormPermintaanRadiologi Styles */
#FormPermintaanRadiologi {
  background-color: #2a4f80;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* FormPermintaanRadiologiJenis Styles */
#FormPermintaanRadiologiJenis {
  background-color: #2a4f80;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
